---
version: 2
interactions:
- id: 0
  request:
    host: api.track.toggl.com
    url: https://api.track.toggl.com/api/v9/me/workspaces
    method: GET
  response:
    body: "[{\"id\":12345,\"organization_id\":99999,\"name\":\"Workspace 1\",\"premium\":false,\"business_ws\":false,\"admin\":true,\"role\":\"admin\",\"suspended_at\":null,\"server_deleted_at\":null,\"default_hourly_rate\":null,\"rate_last_updated\":null,\"default_currency\":\"USD\",\"only_admins_may_create_projects\":false,\"only_admins_may_create_tags\":false,\"only_admins_see_team_dashboard\":false,\"projects_billable_by_default\":true,\"projects_private_by_default\":true,\"projects_enforce_billable\":false,\"limit_public_project_data\":false,\"last_modified\":\"2025-01-01T00:00:00Z\",\"reports_collapse\":true,\"rounding\":0,\"rounding_minutes\":0,\"api_token\":\"REDACTED_TOKEN\",\"at\":\"2025-01-01T00:00:00Z\",\"logo_url\":\"https://assets.redacted.com/workspace.jpg\",\"ical_url\":\"/ical/redacted\",\"ical_enabled\":true,\"csv_upload\":null,\"subscription\":null,\"hide_start_end_times\":false,\"disable_timesheet_view\":false,\"disable_approvals\":false,\"disable_expenses\":false,\"working_hours_in_minutes\":null,\"active_project_count\":32}]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-5f96f5fd9d-74rmj
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - "28"
      X-Toggl-Quota-Resets-In:
      - "3599"
      X-We-Are-Hiring:
      - https://toggl.com/jobs/
    status: 200 OK
    code: 200
    duration: 150.362042ms
- id: 1
  request:
    host: api.track.toggl.com
    url: https://api.track.toggl.com/api/v9/workspaces/12345/projects?active=both
    method: GET
  response:
    body: "[{\"id\":123456,\"workspace_id\":12345,\"client_id\":null,\"name\":\"Project 1\",\"is_private\":true,\"active\":true,\"at\":\"2025-01-01T00:00:00Z\",\"created_at\":\"2025-01-01T00:00:00Z\",\"server_deleted_at\":null,\"color\":\"#465bb3\",\"billable\":false,\"template\":null,\"auto_estimates\":null,\"estimated_hours\":null,\"estimated_seconds\":null,\"rate\":null,\"rate_last_updated\":null,\"currency\":null,\"recurring\":false,\"template_id\":null,\"recurring_parameters\":null,\"fixed_fee\":null,\"actual_hours\":121,\"actual_seconds\":438027,\"total_count\":32,\"client_name\":null,\"can_track_time\":true,\"start_date\":\"2020-02-24\",\"status\":\"active\",\"wid\":12345,\"cid\":null,\"pinned\":false},{\"id\":123456,\"workspace_id\":12345,\"client_id\":null,\"name\":\"Project 2\",\"is_private\":true,\"active\":true,\"at\":\"2025-01-01T00:00:00Z\",\"created_at\":\"2025-01-01T00:00:00Z\",\"server_deleted_at\":null,\"color\":\"#bf7000\",\"billable\":false,\"template\":null,\"auto_estimates\":null,\"estimated_hours\":null,\"estimated_seconds\":null,\"rate\":null,\"rate_last_updated\":null,\"currency\":null,\"recurring\":false,\"template_id\":null,\"recurring_parameters\":null,\"fixed_fee\"[...]
- id: 2
  request:
    host: api.track.toggl.com
    form:
      end_date:
      - "2025-10-31T00:00:00Z"
      start_date:
      - "2025-10-01T00:00:00Z"
    url: https://api.track.toggl.com/api/v9/me/time_entries?end_date=2025-10-31T00%3A00%3A00Z&start_date=2025-10-01T00%3A00%3A00Z
    method: GET
  response:
    body: "[{\"id\":123456,\"workspace_id\":12345,\"project_id\":123454,\"task_id\":null,\"billable\":false,\"start\":\"2025-01-01T00:00:00Z\",\"stop\":\"2025-01-01T00:00:00Z\",\"duration\":6557,\"description\":\"\",\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2025-01-01T00:00:00Z\",\"server_deleted_at\":null,\"user_id\":11111,\"uid\":11111,\"wid\":12345,\"pid\":123454},{\"id\":123456,\"workspace_id\":12345,\"project_id\":123454,\"task_id\":null,\"billable\":false,\"start\":\"2025-01-01T00:00:00Z\",\"stop\":\"2025-01-01T00:00:00Z\",\"duration\":7197,\"description\":\"\",\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2025-01-01T00:00:00Z\",\"server_deleted_at\":null,\"user_id\":11111,\"uid\":11111,\"wid\":12345,\"pid\":123454},{\"id\":123456,\"workspace_id\":12345,\"project_id\":123454,\"task_id\":null,\"billable\":false,\"start\":\"2025-01-01T00:0[...]
