---
version: 2
interactions:
- id: 0
  request:
    host: 12345.rest.afas.online
    form:
      take:
      - "9999"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://12345.rest.afas.online/ProfitRestServices/connectors/_Hours_Types?take=9999
    method: GET
  response:
    - chunked
    body: "{\"skip\" : 0,\r\n  \"take\" : 9999,\r\n  \"rows\" : [{\"item_code\":\"SBPABS\",\"description\":\"Personal time off (holidays)\",\"create_date\":\"2007-11-10T15:43:25Z\",\"modified_date\":\"2020-07-01T13:08:36Z\",\"integration_group\":\"INT\"},{\"item_code\":\"SBPSICK\",\"description\":\"Absence (Illness or pregnancy)\",\"create_date\":\"2007-11-10T15:43:25Z\",\"modified_date\":\"2022-10-18T09:55:47Z\",\"integration_group\":\"VV\"},{\"item_code\":\"*****\",\"description\":null,\"create_date\":\"2008-05-26T22:13:54Z\",\"modified_date\":\"2020-03-30T10:27:26Z\",\"integration_group\":\"*****\"},{\"item_code\":\"DEV\",\"description\":\"Development (WBSO)\",\"create_date\":\"2013-03-13T13:08:06Z\",\"modified_date\":\"2020-03-31T09[...]
