---
version: 2
interactions:
- id: 0
  request:
    host: 12345.rest.afas.online
    form:
      take:
      - "9999"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://12345.rest.afas.online/ProfitRestServices/connectors/_Hours_Projects?take=9999
    method: GET
  response:
    - chunked
    body: "{\"skip\" : 0,\r\n  \"take\" : 9999,\r\n  \"rows\" : [{\"project_id\":\"00000\",\"project\":\"SBP internal\",\"administratie\":2,\"project_group\":\"INT\",\"start_date\":\"2019-01-01T00:00:00Z\",\"end_date\":null},{\"project_id\":\"000000000\",\"project\":\"Schuberg Philis General (hours only)\",\"administratie\":2,\"project_group\":\"INT\",\"start_date\":\"2019-01-01T00:00:00Z\",\"end_date\":null},{\"project_id\":\"000000001\",\"project\":\"Atlassian voucher Confluence Migration\",\"administratie\":2,\"project_group\":\"OPS\",\"start_date\":\"2019-01-01T00:00:00Z\",\"end_date\":null},{\"project_id\":\"000000002\",\"project\":\"Q products invoicing  Hardware PO 215598\",\"administratie\":2,\"project[...]
